@font-face {
  font-family: not;
  src: url(../CormorantGaramond-Light.ttf);
}
@font-face {
  font-family: work;
  src: url(../WorkSans-VariableFont_wght.ttf);
}

body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  
  
  }

  .button{
    padding-left: 4.5%;
    padding-top: 1.5%;
    font-size: 2vw;
    align-content: flex-end;
    
}


.home {
  width: 2%;

}


.ig-logo-1 {
  width: 2%;
  padding-left: 92%;
  padding-top: 1%;
}

.title {
    font-family: not ;
    font-size: 2.5vw;
    text-align: center;
    font-weight: lighter;
    color: sienna;
    padding-left: 1%;
    
}

.header {
    font-family: not;
    font-weight: lighter;
    font-size: 1vw;
    opacity: 0.3;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    top: 0;
    padding-bottom: 2%;
}
  


  .a {
    text-decoration: none;
  }
  
  /* Styles the thumbnail */
  
  a.lightbox img {
  width: 35%;
  align-content: center;
  padding-left: 33%;
  }

  .text {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 4%;
    font-family: work;
    font-weight: lighter;
    color: gray;
    font-size: .8vw
  }



  
  /* Styles the lightbox, removes it from sight and adds the fade-in transition */
  
  .lightbox-target {
  position: fixed;
  top: -100%;
  width: 100%;
  background: rgba(0,0,0,.7);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
 
  }
  
  /* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */
  
  .lightbox-target img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  
  
    
  }
  
  /* Styles the close link, adds the slide down transition */
  
  a.lightbox-close {
  display: block;
  width:50px;
  height:50px;
  box-sizing: border-box;
  background: white;
  color: black;
  text-decoration: none;
  position: absolute;
  top: -80px;
  right: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  
  }
  
  /* Provides part of the "X" to eliminate an image from the close link */
  
  a.lightbox-close:before {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg);

  
  }
  
  /* Provides part of the "X" to eliminate an image from the close link */
  
  a.lightbox-close:after {
  content: "";
  display: block;
  height: 30px;
  width: 1px;
  background: black;
  position: absolute;
  left: 26px;
  top:10px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
 
  }
  
  /* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
  
  .lightbox-target:target {
  opacity: 1;
  top: 0;
  bottom: 0;
 
    overflow:scroll;
  }
  
  .lightbox-target:target img {
  max-height: 100%;
  max-width: 100%;

  }
  
  .lightbox-target:target a.lightbox-close {
  top: 0;
 
  }
  

  .space {
    height: 10%;
    width: 100%;
  }


  @media screen and (max-width: 800px) {
    a.lightbox img {
      width: 80%;
      align-content: center;
      padding: 0% 0% 0% 10%;
      }
  }

  @media screen and (max-width: 800px) {  
  .home {
    width: 5%;
    padding: 4.5% 0% 0% 0%;
  }
  }

  @media screen and (max-width: 800px) {  
    .title {
      font-family: not ;
      font-size: 4vw;
      text-align: center;
      font-weight: lighter;
      color: sienna;
      padding-left: 1%;
      }
    }

    @media screen and (max-width: 800px) {  
      .header {
        font-family: not;
        font-weight: lighter;
        font-size: 3vw;
        opacity: 0.3;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        top: 0;
        padding-bottom: 2%;
      }
      }

      @media screen and (max-width: 800px) {  
        .text {
          text-align: center;
          padding-top: 1%;
          padding-bottom: 4%;
          font-family:  work;
          font-weight: lighter;
          color: gray;
          font-size: 2vw
        }

        }