@font-face {
    font-family: not;
    src: url(../CormorantGaramond-Light.ttf);
}

@font-face {
  font-family: work;
  src: url(../WorkSans-VariableFont_wght.ttf);
}


body {
    background-color: white;
}

.button{
    padding-left: 3.5%;
    padding-top: 1%;
    font-size: 2vw;
}


.home {
    width: 2%;
}


.ig-logo-1 {
  width: 2%;
  padding-left: 90%;
  padding-top: 1%;
}

.title {
    font-family: not ;
    font-size: 2.5vw;
    text-align: center;
    /* font-weight: lighter; */
    color: sienna;
    
}

.header {
    font-family: not;
    font-weight: lighter;
    font-size: 1.2vw;
    font-weight: lighter;
    opacity: 0.2;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    top: 0;
}

.lrg-img {
    align-content: center;
    width: 60%;
    padding-left: 20%;
    padding-bottom: 3%;
    padding-top: 3%;
    /* background-color: royalblue; */

}

.body-text{
    padding-bottom: 10%;
    padding-top: 5%;
}

p {
    font-size: 1.5vw;
    width: 62%;
    padding-left: 20%;
    font-family:  work;
    font-weight: lighter;
    padding-bottom: 1.8%;
}

@media screen and (max-width: 800px) {  
    .home {
      width: 5%;
      padding: 4.5% 0% 0% 0%;
    }
    }

@media screen and (max-width: 800px) {
    .title {
      font-family: not ;
      width: 100%;
      font-size: 4vw;
      text-align: center;
      font-weight: lighter;
      color: sienna;
    }  
  }
  
  @media screen and (max-width: 800px) {
    .header {
      font-family: not;
      font-weight: lighter;
      font-size: 3vw;
      font-weight: lighter;
      opacity: 0.3;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      top: 0;
    } 
  }


@media screen and (max-width: 800px) {
    .ig-logo-1 {
      width: 3.5%;
      padding-left: 86%;
      
      } 
    }